.dropbtn {
    background-color: #ffffff;
    color: #070707;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 160px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 6px 5px;
    text-decoration: none;
    display: block;
  }
  a{
      text-decoration: none;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}